# Entorno virtual
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Datos pesados o generados
data/raw/
data/processed/
data/predictions/

# Modelos entrenados
models/*.pkl
models/*.joblib

# Resultados generados
results/*.csv
reports/figures/*.png
reports/figures/*.jpg

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env